<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>Great Quotes App</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-body">
                <div class="description">
                    <h2>About</h2>
                    <p>The Great Quotes App is a web application that allows a user to
                        add a quote that the user either thought of or got from someone else i.e. 
                        An author. The user posts the quote which can be read and voted upon by others or can 
                        even be deleted if the user wants to.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
            
        </div>
        <div class="col-md-3">

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <h3 style="text-align:center">Quote Feed</h3>
                <div *ngFor ='let quote of quotes;let i = index'>
                    <div class="card-body">
                        {{quote.quote}}
                        <br><br>
                        <div style="color: blue;">Author:&nbsp; {{quote.author}}&nbsp;&nbsp;&emsp;Name of person who submitted:&nbsp;&nbsp;{{quote.name}}</div>
                        <br>
                        
                    </div>
                    <br>
                    <div>
                        <app-quote-feed [quote]='quote' (isRead) = 'deleteQuote($event,i)'></app-quote-feed>
                    </div>
                <br>           
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>